# Analysis of Ironman 70.3 races from 2004 to 2020

Dataset URL: https://www.kaggle.com/code/aiaiaidavid/analysis-of-ironman-70-3-races-from-2004-to-2020

Group 1

Team Members: Elena, Pablo, Gabriel

In [56]:
import pandas as pd
data = pd.read_csv("../dataset/Half_Ironman_df6.csv")
data

,Gender,AgeGroup,AgeBand,Country,CountryISO2,EventYear,EventLocation,SwimTime,Transition1Time,BikeTime,Transition2Time,RunTime,FinishTime
0,M,40-44,40,Andorra,AD,2019,IRONMAN 70.3 South American Championship Bueno...,1679,119,9107,95,5515,16514
1,M,45-49,45,Andorra,AD,2019,IRONMAN 70.3 South American Championship Bueno...,2070,177,9160,132,6070,17609
2,M,45-49,45,Andorra,AD,2020,IRONMAN 70.3 Bariloche,1667,161,9891,122,5190,17031
3,M,45-49,45,Andorra,AD,2019,IRONMAN 70.3 World Championship,1750,183,10363,160,5071,17527
4,M,40-44,40,Andorra,AD,2019,IRONMAN 70.3 World Championship,2063,182,10065,142,5556,18008
...,...,...,...,...,...,...,...,...,...,...,...,...,...
840070,M,50-54,50,Zimbabwe,ZW,2015,IRONMAN 70.3 South Africa,2054,261,10527,160,6070,19072
840071,M,40-44,40,Zimbabwe,ZW,2015,IRONMAN 70.3 South Africa,2449,352,11866,265,8461,23393
840072,F,30-34,30,Zimbabwe,ZW,2015,IRONMAN 70.3 Steelhead,2171,357,11433,332,7754,22047
840073,F,35-39,35,Zimbabwe,ZW,2015,IRONMAN 70.3 Budapest,2100,193,10280,233,6148,18954
840074,F,30-34,30,Zimbabwe,ZW,2015,IRONMAN 70.3 Budapest,2096,244,10630,273,6155,19398

In [57]:
races_data = pd.read_csv("../outputs/im703-races-data.csv")
races_data

,Race Name,Location,Swim Type,Bike Type,Run Type,Air Temperature,Water Temperature,Airport
0,IRONMAN 70.3 Middle East Championship Bahrain,"Bahrain, Middle East",Bay,Flat,Flat,72° F / 22° C,73° F / 23° C,BAH
1,IRONMAN 70.3 Cartagena,"Cartagena, Colombia",Bay,Flat,Flat,84° F / 29° C,81° F / 27° C,CTG
2,IRONMAN 70.3 Acapulco,"Acapulco, Mexico",Ocean,Rolling,Flat,88° F / 31° C,84° F / 29° C,ACA
3,IRONMAN 70.3 Western Australia Asia-Pacific Ch...,"Busselton, Western Australia",Bay,Flat,Flat,81° F / 27° C,68° F / 20° C,PER
4,IRONMAN 70.3 Indian Wells La Quinta,"Indian Wells, California",Lake,Flat,Rolling,65° F / 18° C,57° F / 14° C,PSP
...,...,...,...,...,...,...,...,...
124,IRONMAN 70.3 Nelson Mandela Bay,"Nelson Mandela Bay, Port Elizabeth",Bay,Rolling,Rolling,73° F / 23° C,68° F / 20° C,PLZ
125,IRONMAN 70.3 Tangier,"Tangier, Morocco",Ocean,Hilly,Flat,77° F / 25° C,66° F / 19° C,TNG
126,IRONMAN 70.3 Rwanda,"Rwanda, Africa",Lake,Rolling,Hilly,79° F / 26° C,76° F / 24° C,KGL
127,IRONMAN 70.3 Phu Quoc,"Phu Quoc, Viet Nam",Ocean,Flat,Flat,82° F / 28° C,84° F / 29° C,PQC
128,"IRONMAN 70.3 Marathon, Greece","Marathon, Attica, Greece",Ocean,Flat,Flat,73° F / 23° C,72° F / 22° C,ATH

In [58]:
races_data['Race Name']

0          IRONMAN 70.3 Middle East Championship Bahrain
1                                 IRONMAN 70.3 Cartagena
2                                  IRONMAN 70.3 Acapulco
3      IRONMAN 70.3 Western Australia Asia-Pacific Ch...
4                    IRONMAN 70.3 Indian Wells La Quinta
                             ...
124                      IRONMAN 70.3 Nelson Mandela Bay
125                                 IRONMAN 70.3 Tangier
126                                  IRONMAN 70.3 Rwanda
127                                IRONMAN 70.3 Phu Quoc
128                        IRONMAN 70.3 Marathon, Greece
Name: Race Name, Length: 129, dtype: object

In [59]:
data['EventLocation']

0         IRONMAN 70.3 South American Championship Bueno...
1         IRONMAN 70.3 South American Championship Bueno...
2                                    IRONMAN 70.3 Bariloche
3                           IRONMAN 70.3 World Championship
4                           IRONMAN 70.3 World Championship
                                ...
840070                            IRONMAN 70.3 South Africa
840071                            IRONMAN 70.3 South Africa
840072                               IRONMAN 70.3 Steelhead
840073                                IRONMAN 70.3 Budapest
840074                                IRONMAN 70.3 Budapest
Name: EventLocation, Length: 840075, dtype: object

In [62]:
df_merged = pd.merge(data, races_data, left_on='EventLocation', right_on='Race Name', how='inner')
df_merged

,Gender,AgeGroup,AgeBand,Country,CountryISO2,EventYear,EventLocation,SwimTime,Transition1Time,BikeTime,...,RunTime,FinishTime,Race Name,Location,Swim Type,Bike Type,Run Type,Air Temperature,Water Temperature,Airport
0,M,35-39,35,Andorra,AD,2019,IRONMAN 70.3 Victoria,2042,159,10931,...,6384,19655,IRONMAN 70.3 Victoria,"Victoria, British Columbia",Lake,Rolling,Flat,65° F / 18° C,66° F / 19° C,YYJ
1,M,35-39,35,Andorra,AD,2019,IRONMAN 70.3 Santa Cruz,1973,343,10197,...,7007,19627,IRONMAN 70.3 Santa Cruz,"Santa Cruz, California",Ocean,Rolling,Flat,65° F / 18° C,63° F / 17° C,SJC
2,M,35-39,35,Andorra,AD,2016,IRONMAN 70.3 Texas,3133,445,11615,...,9147,24580,IRONMAN 70.3 Texas,"Galveston, Texas",Ocean,Flat,Rolling,70° F / 21° C,71° F / 22° C,HOU
3,F,35-39,35,Andorra,AD,2016,IRONMAN 70.3 Vichy,2457,252,9998,...,6479,19462,IRONMAN 70.3 Vichy,"Vichy, France",Lake,Hilly,Flat,83° F / 28° C,77° F / 25° C,LYS
4,M,35-39,35,Andorra,AD,2016,IRONMAN 70.3 Santa Cruz,2097,347,10527,...,6062,19174,IRONMAN 70.3 Santa Cruz,"Santa Cruz, California",Ocean,Rolling,Flat,65° F / 18° C,63° F / 17° C,SJC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355504,M,50-54,50,Zimbabwe,ZW,2019,IRONMAN 70.3 Chattanooga,1260,459,10045,...,8954,20978,IRONMAN 70.3 Chattanooga,"Chattanooga, Tennessee",River,Rolling,Rolling,71° F / 22° C,72° F / 22° C,CHA
355505,F,18-24,18,Zimbabwe,ZW,2014,IRONMAN 70.3 Boise,2056,218,11527,...,7072,21020,IRONMAN 70.3 Boise,"Boise, Idaho",Reservoir,Rolling,Flat,81° F / 27° C,72° F / 22° C,BOI
355506,M,40-44,40,Zimbabwe,ZW,2014,IRONMAN 70.3 San Juan,2171,308,9504,...,8102,20231,IRONMAN 70.3 San Juan,"San Juan, Argentina",Reservoir,Hilly,Flat,77° F / 25° C,68° F / 20° C,UAQ
355507,M,25-29,25,Zimbabwe,ZW,2013,IRONMAN 70.3 San Juan,2218,311,10933,...,7419,21014,IRONMAN 70.3 San Juan,"San Juan, Argentina",Reservoir,Hilly,Flat,77° F / 25° C,68° F / 20° C,UAQ
355508,M,30-34,30,Zimbabwe,ZW,2013,IRONMAN 70.3 Eagleman,2623,228,10029,...,7214,20306,IRONMAN 70.3 Eagleman,"Cambridge, Maryland",River,Flat,Flat,80° F / 27° C,75° F / 24° C,BWI

In [67]:
from pathlib import Path
df_merged.to_csv(Path("../outputs/df_merged.csv"), index=None)

In [64]:
len(df_merged.EventLocation.unique())

63